APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:78Uri0pa2Hy7M8ZbAcWcwIePxzfT85ROZSTeKSu/fEY=
APP_DEBUG=true
APP_URL=http://localhost

CORS_ALLOWED_ORIGIN=http://localhost
SESSION_DOMAIN=localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=tenant
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=landlord
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#PayPal Setting & API Credentials - sandbox
PAYPAL_SANDBOX_API_USERNAME=sb-y3n8w6817562_api1.business.example.com
PAYPAL_SANDBOX_API_PASSWORD=XBVPFP2P449T8U53
PAYPAL_SANDBOX_API_SECRET=Ay5ZdSmn3kdPBmqXwPfkt3vOsFWEAmzi6Rh6vfi3SIS9gXqrim7APs-b
PAYPAL_SANDBOX_API_CERTIFICATE=

#PayPal Setting & API Credentials - live
PAYPAL_LIVE_API_USERNAME=
PAYPAL_LIVE_API_PASSWORD=
PAYPAL_LIVE_API_SECRET=
PAYPAL_LIVE_API_CERTIFICATE=

PAYPAL_CURRENCY=RUB
PAYPAL_MODE=sandbox

PAYPAL_APP_MODE=test
PAYPAL_TEST_APP_ID=AS75WE6qk4TmMLFOulj6DTikWj8PzQEiHayPyVfMiL0WnL7bKm8g9j8p76C-Hg6AZOUFmbg0yvh4ssWU
PAYPAL_TEST_APP_SK=ENB2Dz_z0f6WKu6qi3y7I8rH3bD42LQ4NxSenOXeLK0GHxN33fB9dV6EjJs9f08zOe4CxM4QriaZz0PS

PAYPAL_APP_ID=
PAYPAL_APP_SK=
